body {
    background-color: #203351;
}

.nav {

    background-color: #e5e6e8 ;
}

#about {
    padding-top: 80px;
    height: 100vh;
    background-color: #f76b1b;
}

.photo {
    color: green;
}

h2 {
    font-size: 1.5em;
}

#portfolio {
    padding-top: 80px;
    height: 100vh;
    background-color: gray;
}

#contact {
    padding-top: 80px;
    height: 100vh;
    background-color: gray;
}